@{
    ViewData["Title"] = "Đăng xuất";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="text-danger text-center mb-4">ĐĂNG XUẤT</h2>
                    <p>Bạn đã đăng xuất khỏi tài khoản.</p>
                    <button class="btn btn-primary">
                        <a asp-controller="Home" asp-action="Index" class="text-white text-decoration-none">Trang chủ</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
