
@{
    ViewData["Title"] = "Successful";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-primary text-center mb-4">THÔNG BÁO</h2>
                    <p class="text-center text-success">Bạn đã đăng ký thành công.</p>
                    <div class="text-center">
                        <a asp-action="BenhNhanView" asp-controller="NguoiDung" class="btn btn-primary">Trở về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

